@model ContractMonthlyClaimSystem.Models.Claim;


<h2>Details</h2>
<p>
    <b>Lecturer: </b>
    @Model.LecturerName
</p>
<p>
    <b>Module: </b>
    @Model.Module
</p>
<p>
    <b>Hours: </b>
    @Model.HoursWorked
</p>
<p>
    <b>Rate: </b>
    @Model.HourlyRate
</p>
<p>
    <b>Status: </b>
    @Model.Status
</p>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index">Back to List</a>
</form>